@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.statusIconContainer {
  text-align: center;
}

.statusContainer {
  margin: 0% 10% 40px 10%;
}

center {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 26px;
}

.online {
  border: 2px;
  border-style: solid;
  background: linear-gradient(
    90deg,
    rgba(0, 128, 0, 0.25) 0%,
    rgba(60, 255, 60, 0.25) 50%,
    rgba(197, 255, 197, 0) 100%
  );
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
  border-radius: 5px;
  border-color: #45ba64;
  padding: 1em;
  margin-bottom: 15px;
}

.offline {
  border: 2px;
  border-style: solid;
  background: linear-gradient(
    90deg,
    rgba(200, 0, 0, 0.25) 10%,
    rgba(255, 0, 0, 0.25) 50%,
    rgba(197, 255, 197, 0) 100%
  );
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
  border-radius: 5px;
  border-color: red;
  padding: 1em;
  margin-bottom: 15px;
}

.updating {
  border: 2px;
  border-style: solid;
  background: linear-gradient(
    90deg,
    rgba(82, 152, 219, 0.25) 10%,
    rgba(52, 152, 219, 0.25) 50%,
    rgba(197, 255, 197, 0) 100%
  );
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
  border-radius: 5px;
  border-color: #3498db;
  padding: 1em;
  color: white;
  margin-bottom: 15px;
}

.development {
  border: 2px;
  border-style: solid;
  background: linear-gradient(
    90deg,
    rgba(143, 0, 200, 0.25) 10%,
    rgba(132, 0, 255, 0.541) 50%,
    rgba(197, 255, 197, 0) 100%
  );
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
  border-radius: 5px;
  border-color: rgb(140, 0, 255);
  padding: 1em;
  margin-bottom: 15px;
}

.issues {
  border: 2px;
  border-style: solid;
  background: linear-gradient(
    90deg,
    rgba(255, 218, 151, 0.25) 10%,
    rgba(255, 165, 0, 0.25) 50%,
    rgba(197, 255, 197, 0) 100%
  );
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
  border-radius: 5px;
  border-color: orange;
  padding: 1em;
  margin-bottom: 15px;
}
