:root {
  --color-primary: #2a2b3c;
  --color-primary-light: #eee;
<<<<<<< HEAD

=======
  
>>>>>>> ffc9cc9 (Merge acceptance)
  --color-heading-dark: #eee;
  --color-heading-light: #121212;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: var(--color-primary);
  }

  b {
    color: #eee;
  }

  h1,
  h2,
  h3 {
<<<<<<< HEAD
    color: var(--color-heading-light);
=======
    color: var(--color-heading-light)
>>>>>>> ffc9cc9 (Merge acceptance)
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: #121212;
    background: var(--color-primary-light);
  }

  b {
    color: #121212;
  }

  h1,
  h2,
  h3 {
<<<<<<< HEAD
    color: var(--color-heading-dark);
=======
  color: var(--color-heading-dark);
>>>>>>> ffc9cc9 (Merge acceptance)
  }
}
