:root {
  --color-primary: #2a2b3c;
  --color-primary-light: #eee;
  --color-headings: #1b0760;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: var(--color-primary);
  }

  b {
    color: #eee;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: #121212;
    background: var(--color-primary-light);
  }

  b {
    color: #121212;
  }
}
